a.fc-col-header-cell-cushion {
  color: black;
  font-size: 10px;
}

.fc .fc-col-header-cell-cushion {
  padding: 0;
}

.fc .fc-toolbar-title {
  font-size: 14px;
}

.fc-today-button.fc-button.fc-button-primary {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.fc-prev-button.fc-button.fc-button-primary{
  background-color: #f0ad4e;
  border-color: #eea236;
}

.fc-next-button.fc-button.fc-button-primary{
  background-color: #f0ad4e;
  border-color: #eea236;
}