.navbar{
    background-color: #4682A9;
    color: white;
}


#user-name{
    color: white;
}

a.nav-item, a.dropdown-item{
    text-decoration: none;
}

a.nav-link{
    color: white;
}

li{
    padding-right: 10px;
}

