.navbar, .nav-link{
    background-color: #0E2954;    
    color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-link:hover{
    color: white;
    text-decoration: underline white;
}

.navbar-brand{
    width: 5em;
    display: block;
}

#user-name{
    color: white;
}

a.nav-item, a.dropdown-item{
    color: white;
    text-decoration: none;
}

ul.dropdown-menu.show{
    background-color: #0E2954;
}

li{
    padding-right: 10px;
}

