h1 Home#index
p Find me in app/views/home/index.html.slim

= link_to 'User Login', new_user_session_path
= link_to 'User Signup', new_user_registration_path
= link_to 'Admin Login', new_organizer_session_path
= link_to 'Admin Signup', new_organizer_registration_path
