.container
  h1 Edit Event
  == render "form", event: @event
br
/ h1 style="text-align:center" Edit event 
/ .container
/   = simple_form_for @event, data:{controller: "nested-form calculate select", nested_form_target: "nested-form.form", nested_form_wrapper_selector_value: ".nested-form-wrapper"} do |f|
/     = f.error_notification
/     = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

/     .form-inputs
/       .form-control
/         = f.file_field :image, class: "form-control"
/         = f.input :name, label: 'Event Name', input_html: {data: {calculate_target: "name"}}
/         = f.input :description
/         = f.input :event_date, as: :date, html5: true
/         .row 
/           .col 
/             = f.input :category, as: :select, collection: Event.categories.keys, :include_blank => " ", input_html: {data: {select_target: "category", action: "change->select#field"}}
/           .col class="subcategory" 
/             | Subcategory
/             = f.input :subcategory, as: :select, collection: Event.subcategories.keys, input_html: {data: {select_target: "sport"}, style: "margin-top:5px"}, label: false 
/             / = f.input :subcategory, as: :select, collection: Event.subcategories.keys, input_html: {data: {select_target: "education"}, hidden: "", style: "margin-top:5px" }, label:false 
/         = f.input :location
/         =f.input :organizer_id , as: :hidden, input_html: {value: current_organizer.id}
/     br
/     .form-actions
/       = f.button :submit, class: "btn btn-info"
/   / br

  / div
  /   => link_to "Show this event", @event
  /   '|
  /   =< link_to "Back to events", events_path
